.login-page-wrapp {
  height: 100vh;
}

.login-form-wrap {
  width: 50%;
}

.login-form-wrap .form-card {
  max-width: 600px;
  width: 100%;
  margin-right: 30px;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.form-group__male {
  display: flex;
  align-items: center;
}

.form-group__male input[type="radio"] {
  width: 20px;
  margin-left: 20px;
  outline: none;
}

.form-group__male input[type="radio"]:focus {
  box-shadow: none;
}

.reg__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.reg__action {
  grid-column: 1/3;
}

.form-group {
  margin: 0;
}

.form-group._male {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group._male div {
  grid-column: 1/3;
}

.auth__form {
  display: grid;
  grid-gap: 20px;
}

.choose {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-content: start;
  margin-top: 30px;
  margin-left: 50px;
}

.js-tab-item {
  display: none !important;
}

.js-tab-item.active {
  display: flex !important;
}
